/*-----for moblie responsive----*/
@media (max-width:576px){
	.container{
		width:100%;
	}
	.language{
		display:none;
	}
	.menu{
		display:none;
	}
	.menu-btn{
		display:none;
	}
	.col-12{
		width:100% !important; 
	}
	.flex-column-reverse{
		flex-direction: column-reverse !important;
	}
	.abt-img{
		width:100%;
	}
	.why-boxs{
		padding:20px;
	}
	.event-img img{
		width:400px;
	}
	.cont-1{
		margin-bottom:110px;
	}
	
}